<div id="setSectionRoleUserPanel" class="panel panel-shadow content-panel">
    <div class="panel-heading">
        <h1>部门权限</h1>
    </div>
    <div class="panel-body">
        <div class="panel-section">
            <form class="form-horizontal" action="/addQuote" method="post">
                <div class="form-group">
                    <label for="setSectionRoleUser_sectionDiv" class="col-sm-1 control-label">部门:</label>

                    <div id="setSectionRoleUser_sectionDiv" class="col-sm-8">
                        <div class="btn-group selectlist" data-resize="auto" data-initialize="selectlist" id="setSectionRoleUser_section">
                            <button class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown" type="button">
                                <span class="selected-label"></span>
                                <span class="selected-caret"><span class="caret"></span></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul id="setSectionRoleUser_sectionList" class="dropdown-menu" role="menu">
                                <li data-value="1"><a href="#"><span>无数据</span></a></li>
                            </ul>
                            <input class="hidden hidden-field" id="setSectionRoleUser_sectionValue" readonly="readonly" aria-hidden="true" type="text"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="setSectionRoleUser_sectionRolesDiv"></div>
    </div>
</div>