<div id="setSectionUserPanel" class="panel panel-shadow content-panel">
    <div class="panel-heading">
        <h1>部门组员</h1>
    </div>
    <div class="panel-body">
        <div class="panel-section">
            <form class="form-horizontal" action="/addQuote" method="post">
                <div class="form-group">
                    <label for="setSectionUser_sectionDiv" class="col-sm-1 control-label">部门:</label>

                    <div id="setSectionUser_sectionDiv" class="col-sm-8">
                        <div class="btn-group selectlist" data-resize="auto" data-initialize="selectlist" id="setSectionUser_section">
                            <button class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown" type="button">
                                <span class="selected-label"></span>
                                <span class="selected-caret"><span class="caret"></span></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul id="setSectionUser_sectionList" class="dropdown-menu" role="menu">
                                <li data-value="1"><a href="#"><span>无数据</span></a></li>
                            </ul>
                            <input class="hidden hidden-field" id="setSectionUser_sectionValue" readonly="readonly" aria-hidden="true" type="text"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-section">
            <h2>组员
                <!--<button class="btn btn-icon" data-toggle="modal" data-target="#addAccountDialog" data-backdrop="true">-->
                <!--<span class="icon icon-add"></span>-->
                <!--</button>-->
            </h2>

            <div>
                <dd>
                    <div class="n-search n-search-clearable">
                        <a class="n-search-icon dropdown-toggle" id="setSectionUser_sectionUserSearch"
                           data-section-id="<%=sectionId%>" data-toggle="dropdown"
                           aria-expanded="false" href="javascript:void(0)">
                            <span class="icon icon-search"></span>
                            <span class="icon icon-arrow"></span></a>
                        <input id="setGroup_userName1" type="text" class="n-inputfield n-search-input" placeholder="添加">
                        <a class="n-search-control-icon" href="javascript:void(0)">
                            <span class="icon icon-close"></span></a>
                        <ul class="dropdown-menu" id="setGroup_userList1" role="menu"
                            aria-labelledby="setGroup_userSearch">
                        </ul>
                    </div>
                </dd>
            </div>
            <div id="userListTable">
            </div>
        </div>
    </div>
</div>