<div id="setSectionRolePanel" class="panel panel-shadow content-panel">
    <div class="panel-heading">
        <h1>部门角色</h1>
    </div>
    <div class="panel-body">
        <div class="panel-section">
            <label for="setSectionUser_section" class="control-label">部门:</label>
            <div id='setSectionUser_section'>
            </div>
        </div>
        <div class="panel-section">
            <div class="panel-section">
                <h2>角色
                </h2>
                <div>
                    <dd>
                        <div class="n-search n-search-clearable">
                            <a class="n-search-icon dropdown-toggle" id="setSectionRole_sectionRoleSearch" data-toggle="dropdown"
                               aria-expanded="false" href="javascript:void(0)">
                                <span class="icon icon-search"></span>
                                <span class="icon icon-arrow"></span></a>
                            <input id="setSectionRole_sectionRoleName" type="text" class="n-inputfield n-search-input"
                                   placeholder="添加">
                            <a class="n-search-control-icon" href="javascript:void(0)">
                                <span class="icon icon-close"></span></a>
                            <ul class="dropdown-menu" id="setSectionRole_sectionRoleList" role="menu"
                                aria-labelledby="setSectionRole_sectionRoleSearch">
                            </ul>
                        </div>
                    </dd>
                </div>
                <div id="setSectionRole_sectionRoleDiv" style="height: auto">
                </div>
            </div>
        </div>
    </div>
</div>