<div class="modal" id="errorDialog" role="dialog" aria-labelledby="myModalDlgLabel-error" aria-hidden="true" tabindex='-1'>
    <div class="modal-dialog n-dialog-critical">
        <div class="modal-content">
            <div class="modal-header">
                <div class="n-dialog-header-fg-filler"></div>
                <div class="n-dialog-header-bg-filler"></div>
                <!-- -->
                <div class="n-dialog-header-curve">
                    <div class="fg-mask"></div>
                    <div class="bg-mask"></div>
                    <div class="fg-corner"></div>
                    <div class="bg-corner"></div>
                </div>
                <i class="icon icon-close-rounded" data-dismiss="modal" aria-label="Close"></i>
                <h1 class="modal-title" id="myModalLabel"><span class="icon icon-error"></span><span
                    id="errorHead"></span></h1>
                <div class="modal-title-instruction" id="errorMsg"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn btn-standard" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>