<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="wulfdist/css/wulf.css" rel="stylesheet"/>
    <link href="wulfdist/css/fuelux.css" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <nav class="n-banner">
            <div class="n-banner-1st-filler-white"></div>
            <div class="n-banner-1st-filler-blue"></div>
            <div class="n-banner-2nd-filler-blue hidden-xs hidden-on-blue-detached"></div>
            <div class="n-banner-2nd-filler-gray hidden-xs"></div>
            <div class="container-fluid">
                <div class="n-banner-header">
                    <button class="n-banner-toggle collapsed" data-target="#n-banner-collapse" data-toggle="collapse"
                            type="button">
                        <span class="sr-only">
                          Toggle navigation
                      </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="n-banner-brand" href="#">
                        杭州晶华微电子有限公司
                    </a>
                </div>

                <div class="collapse n-banner-collapse" id="n-banner-collapse">
                    <div class="row n-banner-1st">
                        <div class="n-banner-right n-banner-logo-img hidden-xs">
                            <img alt="Nokia" src="wulfdist/img/logo.png">
                        </div>

                        <div class="n-banner-right n-banner-1st-gray-to-white hidden-xs">
                            <div class="gray-mask"></div>
                            <div class="white-mask"></div>
                            <div class="gray-corner"></div>
                            <div class="white-corner"></div>
                        </div>

                        <ul class="nav n-banner-right n-banner-nav n-banner-controls">
                            <li>
                                <a href="#">
                                    <i class="icon icon-profile"></i>
                                    <%= userName %>
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <p>
                                    |
                                </p>
                            </li>
                            <li class="dropdown">
                                <a aria-expanded="false" class="n-banner-dropdown-toggle" data-toggle="dropdown"
                                   href="#" role="button">
                                    <span>帐号</span>
                                    <i class="icon icon-arrow"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">
                                            <span>Account subitem</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="hidden-xs">
                                <p>
                                    |
                                </p>
                            </li>
                            <li>
                                <a href="#PlainDialog" data-backdrop="false" data-toggle="modal">登录</a>
                            </li>
                        </ul>

                        <div class="n-banner-right n-banner-1st-blue-to-gray hidden-xs">
                            <div class="blue-mask"></div>
                            <div class="gray-mask"></div>
                            <div class="blue-corner"></div>
                            <div class="gray-corner"></div>
                        </div>

                    </div>

                    <div class="row n-banner-2nd">

                        <ul class="nav n-banner-nav n-banner-tabs">
                            <li class="dropdown">
                                <a aria-expanded="false" class="n-banner-dropdown-toggle" data-toggle="dropdown"
                                   href="#" role="button">
                                    <span>报价</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li id="addQuoteMenu">
                                        <a href="#"><span>新建报价单</span></a>
                                    </li>
                                    <li class="n-dropdown-menu-item-has-child">
                                        <a href="#"><span>查询</span><i class="icon icon-next"></i></a>
                                        <ul class="n-dropdown-sub-menu">
                                            <li id="quoteManagementMenu"><a href="#"><span>报价单</span></a></li>
                                            <li><a href="#"><span>产品报价</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span>销售</span></a>
                            </li>
                            <li>
                                <a href="#"><span>仓管</span></a>
                            </li>
                            <li>
                                <div class="dropdown n-banner-overflow-control">
                                    <a href="#" class="n-banner-dropdown-toggle" data-toggle="dropdown"
                                       aria-expanded="false" role="button">
                                        <span class="icon icon-dropdown-menu"></span>
                                        <span class="overflow-toggle-area"></span>
                                        <span class="overflow-toggle-area-cover"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#"><span>Overflow Page One</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span>Overflow Page Two</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span>Overflow Page Three</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                        <div class="n-banner-right n-banner-links-collapse dropdown">
                            <a href="#"
                               class="n-banner-dropdown-toggle n-banner-links-collapse-dropdown-toggle show-on-blue-detached"
                               data-toggle="dropdown" aria-expanded="false" role="button">
                                <span class="icon icon-dropdown-menu"></span>
                            </a>
                            </ul>
                            <ul class="nav n-banner-nav n-banner-links n-banner-right n-banner-dropdown-links">
                                <li class="dropdown">
                                    <a aria-expanded="false" data-toggle="dropdown" href="#" role="button">
                                        <i class="icon icon-manage"></i>
                                        <span>客户</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="n-dropdown-menu-item-has-child">
                                            <a href="#"><span>新建</span><i class="icon icon-next"></i></a>
                                            <ul class="n-dropdown-sub-menu">
                                                <li id="addCompanyMenu"><a href="#"><span>客户公司</span></a></li>
                                                <li><a href="#addCustomerDialog" data-backdrop="false"
                                                       data-toggle="modal"><span>客户联系人
                        </span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a aria-expanded="false" data-toggle="dropdown" href="#" role="button">
                                        <i class="icon icon-manage"></i>
                                        <span>产品</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">
                                                <span>SubItem_1</span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a aria-expanded="false" data-toggle="dropdown" href="#" role="button">
                                        <i class="icon icon-regions"></i>
                                        <span>Regions</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">
                                                <span>SubItem_1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>SubItem_2</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>SubItem_3</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>SubItem_4_HangZhou_China</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a aria-expanded="false" data-toggle="dropdown" href="#" role="button">
                                        <i class="icon icon-add"></i>
                                        <span>Add</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">
                                                <span>Add User</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>Add NE Group</span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a aria-expanded="false" data-toggle="dropdown" href="#" role="button">
                                        <i class="icon icon-settings"></i>
                                        <span>Settings</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">
                                                <span>User Setting</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>Time Setting</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>Location Setting</span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="n-banner-2nd-gray-to-blue hidden-xs hidden-on-blue-detached">
                            <div class="gray-mask"></div>
                            <div class="blue-mask"></div>
                            <div class="gray-corner"></div>
                            <div class="blue-corner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <% include customer\addCompany.html %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <% include customer\addCustomer.html %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <% include quote\addQuote.html %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <% include quote\quoteManagement.html %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <% include confirmDlg.html %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <% include errorDlg.html %>
    </div>
</div>
<% include login.html %>
<script src="wulfdist/js/jquery.min.js"></script>
<script src="wulfdist/js/wulf.js"></script>
<script src="wulfdist/js/fuelux.js"></script>
<script src="js/common.js"></script>
<script src="js/index.js"></script>
<script src="js/msgDlg.js"></script>
<script src="js/quote.js"></script>
<script src="js/customer.js"></script>
</body>
</html>