<!DOCTYPE html>
<html lang="en">
<head>
    <link href="./wulfdist/css/wulf.css" rel="stylesheet"/>
    <link href="./jhwSale.css" rel="stylesheet">
</head>
<body>
<div class="n-login-wrapper">
    <div class="n-login">
        <div class="n-login-logo">
            <img src="./pic/JHWlogo.png" alt="杭州晶华微"/>
        </div>
        <div class="panel panel-shadow panel-blue-cap">
            <h1 class="n-login-title"><span class="n-product-name-blue">杭州晶华微电子有限公司</span></h1>

            <div class="panel-body">
                <h2 class="n-login-title-version-light">Version 0.0.1 beta</h2>

                <div class="n-login-panel-fields">
                    <form class="form-horizontal" action="/doLogin" method="post">
                        <% if(msg){ %>
                        <div class="alert-error">
                            <span class="icon icon-error"></span><%= msg %>
                        </div>
                        <%}%>
                        <div class="form-group n-login-textfields">
                            <div class="col-sm-6 input-required">
                                <input name="username" type="text" tabindex="110" class="form-control n-inputfield"
                                       id="applicationLoginUsername"
                                       placeholder="用户名">
                                <a class="form-control-feedback">
                                    <span class="icon icon-mandatory"></span></a>
                            </div>
                            <div class="col-sm-6 input-required">
                                <input name="password" type="password" tabindex="120" class="form-control n-inputfield"
                                       id="applicationLoginPassword"
                                       placeholder="密码">
                                <a class="form-control-feedback form-control-feedback"><span class="icon icon-mandatory"></span></a>
                            </div>
                        </div>
                        <div class="n-login-action">
                            <div class="n-login-forget-password">
                                <a href="#">忘记密码</a><span class="icon icon-breadcrumb"></span>
                            </div>
                            <button type="submit" class="btn btn-action btn-standard n-login-button" id="applicationLoginButton" disabled="true">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="small n-login-copyright">
    &copy; 2016 杭州晶华微电子有限公司版权所有.
</div>
<script src="./wulfdist/js/dependencies/jquery.min.js"></script>
<script src="./wulfdist/js/dependencies/bootstrap.min.js"></script>
<script src="./wulfdist/js/dependencies/jquery.mousewheel.min.js"></script>
<script src="./wulfdist/js/dependencies/jquery.mCustomScrollbar.js"></script>
<script src="./wulfdist/js/dependencies/fuelux.js"></script>
<script src="./wulfdist/js/wulf.min.js"></script>
<script src="./js/login.js"></script>
</body>
</html>