<div class="modal" id="addUserDialog" role="dialog" data-user-id="<%= user.id%>" aria-hidden="true" tabindex='-1'>
    <form class="form-horizontal">
        <div class="modal-dialog" modal-resize-dialog>
            <div class="modal-content" data-resize="True">
                <div class="modal-header" data-drag="True">
                    <div class="n-dialog-header-bg-filler"></div>
                    <div class="n-dialog-header-resize">
                        <div class="n-dialog-header-fg-filler"></div>
                        <div class="n-dialog-header-curve">
                            <div class="fg-mask"></div>
                            <div class="bg-mask"></div>
                            <div class="fg-corner"></div>
                            <div class="bg-corner"></div>
                        </div>
                        <h1 class="modal-title" id="myModalLabel">帐号</h1>
                    </div>
                    <i role="button" class="icon icon-close-rounded" data-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="addAccount_account" class="col-sm-2 control-label">帐号:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control n-inputfield" id="addAccount_account" name="account"
                                   value="<%= user.account%>" placeholder="<输入帐号>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addAccount_name" class="col-sm-2 control-label">名字:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control n-inputfield" id="addAccount_name" name="name"
                                   value="<%= user.name%>" placeholder="<输入名称>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addAccount_password" class="col-sm-2 control-label">密码:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control n-inputfield" id="addAccount_password" name="password"
                                   value="" placeholder="<输入密码>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addAccount_passwordConfirm" class="col-sm-2 control-label">确认密码:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control n-inputfield" id="addAccount_passwordConfirm"
                                   value="" placeholder="<重新输入密码>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addAccount_tel" class="col-sm-2 control-label">电话:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control n-inputfield" id="addAccount_tel" name="tel"
                                   value="" placeholder="<输入电话>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addAccount_email" class="col-sm-2 control-label">电邮:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control n-inputfield" id="addAccount_email" name="email"
                                   value="" placeholder="<输入电邮>">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addAccountButton" type="button" class="btn btn btn-standard ">保存</button>
                    <button class="btn btn btn-standard" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>