<div id="setRolePanel" class="panel panel-shadow content-panel">
    <div class="panel-heading">
        <h1>权限</h1>
    </div>
    <div class="panel-body">
        <div class="panel-section">
            <h2>销售员
                <button class="btn btn-icon">
                    <span class="icon icon-add"></span>
                </button>
            </h2>
            <div class="n-scroll" style="height: 150px">
                <div class="alert alert-error" style="width: auto; float: left; margin: 10px">
                    周芸丽1
                    <a href="#" class="n-close" data-dismiss="alert"><span class="icon icon-close"></span></a>
                </div>
                <div class="alert alert-error" style="width: auto; float: left; margin: 10px">
                    周芸丽2
                    <a href="#" class="n-close" data-dismiss="alert"><span class="icon icon-close"></span></a>
                </div>
                <div class="alert alert-error" style="width: auto; float: left; margin: 10px">
                    周芸丽3
                    <a href="#" class="n-close" data-dismiss="alert"><span class="icon icon-close"></span></a>
                </div>
                <div class="alert alert-error" style="width: auto; float: left; margin: 10px">
                    周芸丽4
                    <a href="#" class="n-close" data-dismiss="alert"><span class="icon icon-close"></span></a>
                </div>
                <div class="alert alert-error" style="width: auto; float: left; margin: 10px">
                    周芸丽5
                    <a href="#" class="n-close" data-dismiss="alert"><span class="icon icon-close"></span></a>
                </div>
                <div class="alert alert-error" style="width: auto; float: left; margin: 10px">
                    周芸丽6
                    <a href="#" class="n-close" data-dismiss="alert"><span class="icon icon-close"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>