<div id="addQuotePanel" class="panel panel-shadow content-panel" hidden>
    <div class="panel-heading">
        <h1>报价单</h1>
    </div>
    <div class="panel-body">
        <div class="panel-section">
            <form class="form-horizontal" action="/addQuote" method="post">
                <div class="form-group">
                    <label for="addQuote_quoteNumDiv" class="col-sm-1 control-label">单号:</label>

                    <div id="addQuote_quoteNumDiv" class="col-sm-10">
                        <input type="text" class="form-control n-inputfield" readonly tabindex="-1"
                               id="addQuote_quoteNum" name="quoteNum" value="SDICBJYYYYMMDD00">
                    </div>
                </div>
                <div class="form-group">
                    <label for="addQuote_companyDiv" class="col-sm-1 control-label">客户公司:</label>

                    <div id="addQuote_companyDiv" class="col-sm-10">
                        <div class="n-search n-search-clearable">
                            <a class="n-search-icon dropdown-toggle" id="addQuote_companySearch" data-toggle="dropdown"
                               aria-expanded="true" href="javascript:void(0)">
                                <span class="icon icon-search"></span>
                                <span class="icon icon-arrow"></span></a>
                            <input id="addQuote_companyName" type="text" class="n-inputfield n-search-input"
                                   placeholder="<公司名>">
                            <a class="n-search-control-icon" id="addQuote_companyClearButton"
                               href="javascript:clearCompany()">
                                <span class="icon icon-close"></span></a>
                            <ul id="addQuote_companyList" class="dropdown-menu" role="menu"
                                aria-labelledby="dropdownMenu2">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="addQuote_customerDiv" class="col-sm-1 control-label">联系人:</label>

                    <div id="addQuote_customerDiv" class="col-sm-8">
                        <div class="btn-group selectlist disabled" data-resize="auto" data-initialize="selectlist"
                             id="addQuote_customer">
                            <button class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown"
                                    type="button">
                                <span class="selected-label"></span>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul id="addQuote_customerList" class="dropdown-menu" role="menu">
                                <li data-value="1"><a href="#"><span>无数据</span></a></li>
                            </ul>
                            <input class="hidden hidden-field" name="mySelectlist1" readonly="readonly"
                                   aria-hidden="true" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">币种:</label>

                    <div class="col-sm-8">
                        <div class="radio">
                            <input id="addQuote_currencyRmb" name="currency" type="radio" value="rmb" checked>
                            <label for="addQuote_currencyRmb">人名币</label>
                        </div>
                        <div class="radio">
                            <input id="addQuote_currencyUsd" name="currency" value="usd" type="radio">
                            <label for="addQuote_currencyUsd">美元</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputDomain1"
                           class="col-sm-1 control-label">备注:</label>
                    <div class="col-sm-8">
                        <textarea id="remark" class="n-textarea"></textarea>
                        <div class="input-group input-append dropdown combobox" data-resize="auto"
                             data-initialize="combobox" id="myCombobox">
                            <input type="text" class="form-control n-inputfield">
                            <div id="addQuote_addRemark" class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown">
                                    <span class="caret"></span></button>
                                <ul id="addQuote_addRemarkList" class="dropdown-menu dropdown-menu-right">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputDomain1" class="col-sm-1 control-label">产品报价:</label>
                    <div id="table-alternating-cell-selection" class="grid-alternating-rows"></div>
                </div>
                <button id="addQuoteButton" type="button" class="btn pull-right">保存</button>
            </form>
        </div>
    </div>
</div>